{% extends "base.html" %}
{% load humanize %}
{% load customfilter %}
{% block pageContent %}
<style>
    body {
        background-image: url("{{ MEDIA_URL }}/default/image.png");
        background-size: cover; 
        background-position: center; 
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .welcome-text-container {
        text-align: center;
        margin-top: 10vh; 
    }

    .welcome-heading {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    @keyframes moveBus {
        0% { left: -100%; }
        100% { left: 100%; }
    }
    .row {
        position: relative;
   
    }
</style>
<section class="container mt-5">
    {% if user.id %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Total trips</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ buses|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-bus fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <div class="card-body">
                    <div class="d-flex w-100">
                        <div class="col-8 pe-2">
                            <div class="summary-title fs-5 border-bottom">Upcoming Trips</div>
                            <div class="summary-count text-end fw-bolder mt-3 px-4">{{ upcoming_trip|intcomma }}</div>
                        </div>
                        <div class="col-4">
                            <div class="summary-icon p-3 rounded border text-center bg-gradient bg-light">
                                <i class="fa fa-file-invoice fs-2"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
    <div class="welcome-text-container text-center text-black p-4">
        <h1 class="welcome-heading fw-bold">GO BUS</h1>
        <h3 class="welcome-subheading">"The Journey Is The Destination"</h3>
    </div>
    {% endif %}
</section>
{% endblock pageContent %}