{% extends "base.html" %}
{% load humanize %}
{% load customfilter %}
{% block pageContent %}
<style>
    body {
        background-image: url("{{ MEDIA_URL }}/default/image.png");
        background-size: cover; /* Cover the entire background */
        background-position: center; /* Center the background image */
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;
    }

    .welcome-text-container {
        text-align: center;
        margin-top: 10vh; /* Adjust margin to position the heading at the top */
    }

    .welcome-heading {
        font-size: 4rem;
        margin-bottom: 20px;
    }

    .bus-animation {
        width: 60px;
        height: auto;
        animation: moveBus 5s linear infinite;
    }

    @keyframes moveBus {
        0% { transform: translateX(-100%); }
        100% { transform: translateX(100%); }
    }
</style>
<section class="container mt-5">
    {% if user.id %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-warning text-start summary-card my-3">
                <!-- Total Buses Card -->
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="card rounded-0 shadow border-success text-start summary-card my-3">
                <!-- Total Upcoming Trip Card -->
            </div>
        </div>
    </div>
    <div class="bus-animation">
        <img src="{{ MEDIA_URL }}/default/bus-image.png" alt="" id="logo-img">
    </div>
    {% else %}
    <div class="welcome-text-container text-center text-black p-4">
        <h1 class="welcome-heading fw-bold">GO BUS</h1>
        <h3 class="welcome-subheading">"The Journey Is The Destination"</h3>
    </div>
    {% endif %}
</section>
{% endblock pageContent %}
